*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-right: 20px;
}
#rec-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 223, 223);
    padding: 20px;
    width: 70%;
    margin-left: 30%;
    
}
#orange-line{
    width: 70%;
    height: 2px;
    background-color: rgb(255, 123, 0);
    margin-left: 30%;
}
#li-2 select,
#li-3 select,
#li-4 select,
#li-5 select {
    padding: 15px;
    width: 100%;
}
#rec-2{
    display: flex;
    width: 100%;
    
    gap: 100px;
    margin-left: 30%;
    padding-bottom: 10px;
}
/* #rec-2 {
   
    {width: 50%;
} */
#sort{
    /* border: 2px solid red; */
    /* width: 50%;
    text-align: right;
    display: flex;
    margin-left: 700px;
    gap: 250px; */
}
#batr{
    display: flex;
    width: 70%;
    margin-left: 30%;  
    border: 0.5px solid #a5a3a3;
    padding: 50px;
;
    /* text-align: right; */
    /* align-content: flex-end; */
}
#first{
    display: flex;
    /* border: 0.5px solid #000000; */
       width: 70%;
       height: 50%;
       text-align: right;
       gap: 40px
       ;
       /* text-align: center; */
       align-items: center;
       padding: 80px;
       /* margin-left: 100px; */
}
#second{
    width: 30%;
    /* border: 2px solid green ; */
}
#free{
    height: 100px;
    /* border: 2px solid black; */
    box-shadow: darksalmon;
}
#homeDev{
    height: 100px;
    /* border: 2px solid black; */
    box-shadow: darksalmon;
}
#bat{
    background: black;
    color: aliceblue;
    width: 100%;
    padding: 8px 10px;
}
.desc{
    width: 90%;
    margin-left: 20%;
    margin-right: 10%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 20px;
    
    text-align: justify;
    /* color: #E0E0E0; */
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.N3{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 15%;
    align-items: center;
}
.N1{
    /* width: 100%; */
    /* border: 1px solid black; */

}
.N2{
    /* border: 1px solid black; */
    width: 50%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.N2 p:nth-child(2){
    margin-top: 0px;

    padding-top: 0px;
    color: rgb(77, 76, 76);
}

.One{
    display: flex;
    margin-left: 30%;
    border: 0.5px solid;
    border-color: grey;
    padding-top: 40px;
    padding-left: 40px;
}

.One_One{
    /* border: 1px solid black; */
    display: flex;
    
}
.One_One_one{
    /* border: 2px solid red; */
}
.One_One_one > img{
    
}
.One_One_Two{
    /* border: 1px solid tomato; */
    width: 80%;
}
.One_One_Two > img{
    width: 100%;
}
.Before_One > a{
    text-decoration: none;
    font-weight: 550;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(83, 82, 82);
}
.One_Two{
    /* border: 1px solid black; */
    width: 35%;
    margin-left: 40px;
}
.One_Two_One{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border: 1px solid cyan; */
    /* margin: 10px; */
    border-top: 2px solid #0277BD;
    border-bottom: 2px solid #0277BD;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.One_Two_One p{
    color: #0277BD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    font-size: 13px;
    
}
.H2_One{
    font-size: 20px;
    font-weight: 550;
}
.starsCont{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 60%;
    justify-content: space-around;
    margin-top: 20px;
}
.stars{
    width: 12%;
    border: 1px solid white;
}
.starCont2{
    /* border: 1px solid brown; */
    width: 100%;
    font-size: 14px;

}
.One_span_One{
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.One_cont2{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 50%;
    /* justify-content: space-between; */
}
.One_cont2 > a{
    color: black;
    font-size: 14px;
}
.One_cont3{
    display: flex;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid black; */
    
}
.One_cont3_one{
    display: flex;
}
.little_dollar{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}
.One_cont3_two{
    display: flex;
    /* border: 1px solid red; */
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.One_cont3_two input{
    width: 30%;
    text-align: center;
    height: 40px;
    font-size: 25px;
    border: 1px solid rgb(169, 167, 167);
    border-bottom: 4px solid rgb(180, 180, 180);

}
.One_cont3_two button{
    width: 22%;
    /* height: 40px; */
    border-radius: 50%;
    font-size: 20px;
    height: 30px;
    border: none;
    /* border: 0.1px solid black; */
    text-align: center;
}
.Between_One_And_Two {
    /* border: 3px solid red; */
    text-align: center;
}
.One_Two > p{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
}
.One_Two > p img{
    width: 3%;
}
.One_cont4_One{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;
}
.One_cont4_One_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;

}
.One_cont4{
    padding: 2px;
    background-color: rgb(241, 241, 241);
}
.green{
    color: rgb(12, 167, 12);
}
.green1{
    color: rgb(12, 167, 12);
    font-size: 14px;
}
.red1{
    color: red;
    font-size: 14px;
}
.Cont4_small{
    font-size: 14px;
    
}
.Cont4_Delivery_Truck{
    color: #046eab;
    font-size: 13px;
}
.Cont4_Decrease_Font_Weight{
    font-size: 14px;
    font-weight: 450;
}
.Cont4_Decrease_FontSize{
    font-size: 13px;
    font-weight: 475;
}
.a_Colored{
    color: #0277BD;
}
#ADD_TO_CART{
    width: 100%;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 650;
    padding: 15px 0px;
    color: white;
    background-color: black;
    text-align: center;
}
.a_With_Black{
    color: black;
}
#recom{
    margin-left: 30px;
    margin-top: 40px;
}
#hr{
  border: 4px solid red;  
  width: 70px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.desc{
    width: 90%;
    margin: auto;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 20px;
    /* border: 1px solid red; */
    text-align: justify;
    /* color: #E0E0E0; */
}
#Between_One_And_Two{
    width: 90%;
    margin: auto;
}
.pagination{
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
/* End part */
.little_dollar2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: ; */
     /* margin-bottom: 550px; */
    border: 1px solid brown;
    margin-top: 10px;
}
.big_dollar2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}

.Between_One_And_Two{
    display: flex;
    align-items: center;
}
.Between_One_And_Two_Grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 240px;
    gap: 10px 20px;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div{
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.Between_One_And_Two_Cont1{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    
}
.Between_One_And_Two_Cont1 img{
    width: 8%;
}
.Between_One_And_Two_Img1{
    width: 50%;
    /* border: 1px solid black; */
    display: block;
    margin: auto;
}
.Between_One_And_Two_Cont2{
    display: flex;
    align-items: center;
    /* float: right; */
    
    /* bottom: 0px; */
    /* justify-content: center; */
}
.Span_Inside_Between_One_And_Two_Cont1{
    margin-left: 10px;
}
/* .Between_One_And_Two_Cont2 span{
    position:
    bottom: 0;
    left: 0;
} */
/* End Part-2 */
.little_dollar2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}

.Between_One_And_Two{
    display: flex;
    align-items: center;
}
.Between_One_And_Two_Grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 240px;
    gap: 10px 20px;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div{
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.Between_One_And_Two_Cont1{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    
}
.Between_One_And_Two_Cont1 img{
    width: 8%;
}
.Between_One_And_Two_Img1{
    width: 50%;
    /* border: 1px solid black; */
    display: block;
    margin: auto;
}
.Between_One_And_Two_Cont2{
    display: flex;
    align-items: center;
    /* float: right; */
    
    /* bottom: 0px; */
    /* justify-content: center; */
}
.Span_Inside_Between_One_And_Two_Cont1{
    margin-left: 10px;
}
/* .Between_One_And_Two_Cont2 span{
    position:
    bottom: 0;
    left: 0;
} */