*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* padding-right: 20px; */
    width: 100%;
    overflow-x: hidden;
}

i {
    color: hsla(0, 22%, 9%, 0.82);
}

#firstt {
    /* background-color: rgb(88, 112, 133); */
    /* padding-left: 50px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* height: 105px; */
    /* line-height:10px; */
    margin: auto;
    margin-bottom: 20px;




}

#forsign {
    display: flex;
    width: 20%;

    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    /* border: 2px solid black; */
    height: 100px;
    margin-right: 20px;

}



#img {
    margin-left: 20px;
    width: 10%;

    display: flex;
    /* border: 2px solid blue; */
    height: 100px;


}

#p {
    /* border: 2px solid green; */
    /* justify-content: center; */
    margin: auto;
    width: 500px;
    /* line-height: 20px; */
    box-sizing: border-box;



}

#nav {
    width: 100%;
    /* border: 2px solid rgb(140, 140, 178); */
    /* height: 80px; */
    background: linear-gradient(to bottom, #6699ff 0%, #ccccff 93%);
    background-color:rgb(232, 115, 73);
    position: sticky;
    top: 0px;

    display: flex;
    /* margin: auto; */
    /* justify-content:center; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* align-items: center; */
    /* justify-content: center; */
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
  


}

#log i {
    padding-left: 20px;
}


#sidediv {
    width: 100%;
    /* border: 2px solid black; */
    overflow: scroll;
    border: none;
    padding-left: 15px;

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.706);
}

#bold {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#veh {
    /* border: 2px solid purple; */
    width: 150px;
    margin-left: 100px;
    text-align: center;
    /* margin-top: 15px; */
    /* padding:10px; */
    font-size: 17px;
    box-sizing: border-box;


}


#veh:hover {
    background-color: rgba(185, 215, 234, 0.848);

}


#search {
    /* border: 1px solid purple; */
    margin-left: 100px;
    /* align-items: center; */
    margin-top: 15px;
    /* padding: 20px; */
    width:580px;
    height: 30px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    /* padding-right:240px ; */


}



#btn{
    padding-left:20px;
    padding-right:20px;
    padding-top:6px;
    padding-bottom:6px;
    position: relative;
    left:-90px;
    border: none;
    background-color: white;
    /* border:1px solid #a5b2b1; */
    cursor: pointer;
    
}

#stor {
    /* border: 2px solid purple; */
    width: 170px;
    margin-left: 60px;
    
    font-size: 18px;
   
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    box-sizing: border-box;


}

#stor:hover {
    background-color: rgba(185, 215, 234, 0.848)
    /* padding-top:1px;
    padding-bottom:1px;
} */
}

#manu {
    width: 30px;
   
    margin-left: 30px;
   
    cursor: pointer;
    position: absolute;
    
    box-sizing: border-box;

    margin-top: 10px;
   



    transition: 1s ease;


}

.bar {
    height: 5px;
    width: 100%;
    background-color: rgb(16, 14, 14);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;

}

#bar1 {
    transform: translateY(-4px);

}

#bar3 {
    transform: translateY(4px);
}

.sidebar li a {

    text-decoration: none;

}



.sidebar {
    padding: 0px;
    margin: 0% 20px;
    transition: 1s ease;
    display: none;
}

.sidebar li {
    list-style: none;
    padding: 10px 0;
}

.icon .bar {
    background-color: black;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;

}

.change {
    height: 80vh;
    margin: 0;
    position: absolute;
    /* font-size:15px; */
    top: 0px;
    z-index: -100;
    display: flex;
    width: 23%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:70px;
   

    padding-left: 0%;
    line-height: 20px;
    /* padding-left: 10px; */
    background-color: white;
    padding-top: 20px;
}


/* overflow-y: scroll; */






















#rec-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 223, 223);
    padding: 20px;
    width: 100%;
    /* margin-left: 30%; */
    
}
#orange-line{
    width: 100%;
    height: 2px;
    /* background-color: rgb(9, 6, 3); */
    /* margin-left: 30%; */
}
#li-2 select,
#li-3 select,
#li-4 select,
#li-5 select {
    padding: 15px;
    width: 100%;
}
#rec-2{
    display: flex;
    width: 100%;
    
    gap: 100px;
    /* margin-left: 30%; */
    padding-bottom: 10px;
}
/* #rec-2 {
   
    {width: 50%;
} */
#sort{
    /* border: 2px solid red; */
    /* width: 50%;
    text-align: right;
    display: flex;
    margin-left: 700px;
    gap: 250px; */
}
#batr{
    display: flex;
    width: 100%;
    /* margin-left: 30%;   */
    border: 0.5px solid #a5a3a3;
    padding: 50px;
;
    /* text-align: right; */
    /* align-content: flex-end; */
}
#first{
    display: flex;
    /* border: 10px solid #000000; */
       /* width: 70%; */
       height: 50%;
       text-align: right;
       gap: 40px
       ;
       /* text-align: center; */
       align-items: center;
       padding: 80px;
       /* margin-left: 100px; */
}
#second{
    /* width: 30%; */
    /* border: 2px solid green ; */
}
#free{
    height: 100px;
    /* border: 2px solid black; */
   
}
#homeDev{
    height: 100px;
    /* border: 2px solid black; */
   
}
#bat{
    background: black;
    color: aliceblue;
    width: 100%;
    padding: 8px 10px;
}
.img_for_One_One2{
width: 100%;
}
.desc{
    width: 90%;
    /* margin-left: 20%; */
    margin-right: 10%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 20px;
    
    text-align: justify;
    /* color: #E0E0E0; */
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.N3{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 15%;
    align-items: center;
}
.N1{
    /* width: 100%; */
    /* border: 1px solid black; */

}
.N2{
    /* border: 1px solid black; */
    width: 50%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.N2 p:nth-child(2){
    margin-top: 0px;

    padding-top: 0px;
    color: rgb(77, 76, 76);
}

.One{
    display: flex;
    margin-left: 1%; 
    /* border: 0.5px solid;
    border-color: gray; */
    padding-top: 40px; 
     padding-left: 40px; 
}

.One_One{
    /* border: 1px solid black; */
    display: flex;
    
}
.One_One_one{
    /* border: 2px solid red; */
}
.One_One_one > img{
    
}
.One_One_Two{
    /* border: 1px solid tomato; */
    width: 80%;
}
.One_One_Two > img{
    width: 100%;
}
.Before_One > a{
    text-decoration: none;
    font-weight: 550;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(83, 82, 82);
}
.One_Two{
    /* border: 1px solid black; */
    width: 35%;
    margin-left: 300px; 
}
.One_Two_One{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border: 1px solid cyan; */
    /* margin: 10px; */
    border-top: 2px solid #0277BD;
    border-bottom: 2px solid #0277BD;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.One_Two_One p{
    color: #0277BD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    font-size: 13px;
    
}
.H2_One{
    font-size: 20px;
    font-weight: 550;
}
.starsCont{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 60%;
    justify-content: space-around;
    margin-top: 20px;
}
.stars{
    width: 12%;
    border: 1px solid white;
}
.starCont2{
    /* border: 1px solid brown; */
    width: 100%;
    font-size: 14px;

}
.One_span_One{
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.One_cont2{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 50%;
    /* justify-content: space-between; */
}
.One_cont2 > a{
    color: black;
    font-size: 14px;
}
.One_cont3{
    display: flex;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid black; */
    
}
.One_cont3_one{
    display: flex;
}
.little_dollar{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}
.One_cont3_two{
    display: flex;
    /* border: 1px solid red; */
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.One_cont3_two input{
    width: 30%;
    text-align: center;
    height: 40px;
    font-size: 25px;
    border: 1px solid rgb(169, 167, 167);
    border-bottom: 4px solid rgb(180, 180, 180);

}
.One_cont3_two button{
    width: 22%;
    /* height: 40px; */
    border-radius: 50%;
    font-size: 20px;
    height: 30px;
    border: none;
    /* border: 0.1px solid black; */
    text-align: center;
}
.Between_One_And_Two {
    /* border: 3px solid red; */
    text-align: center;
}
.One_Two > p{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
}
.One_Two > p img{
    width: 3%;
}
.One_cont4_One{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;
}
.One_cont4_One_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;

}
.One_cont4{
    padding: 2px;
    background-color: rgb(241, 241, 241);
}
.green{
    color: rgb(12, 167, 12);
}
.green1{
    color: rgb(12, 167, 12);
    font-size: 14px;
}
.red1{
    color: red;
    font-size: 14px;
}
.Cont4_small{
    font-size: 14px;
    
}
.Cont4_Delivery_Truck{
    color: #046eab;
    font-size: 13px;
}
.Cont4_Decrease_Font_Weight{
    font-size: 14px;
    font-weight: 450;
}
.Cont4_Decrease_FontSize{
    font-size: 13px;
    font-weight: 475;
}
.a_Colored{
    color: #0277BD;
}
#ADD_TO_CART{
    width: 100%;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 650;
    padding: 15px 0px;
    color: white;
    background-color: black;
    text-align: center;
}
.a_With_Black{
    color: black; 
}
#recom{
    margin-left: 30px;
    margin-top: 40px;
}
#hr{
  border: 4px solid red;  
  width: 70px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.desc{
    width: 90%;
    margin: auto;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 20px;
    /* border: 1px solid red; */
    text-align: justify;
    /* color: #E0E0E0; */
}
#Between_One_And_Two{
    width: 90%;
    margin: auto;
}
.pagination{
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
/* End part */
.little_dollar2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: ; */
     /* margin-bottom: 550px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}


.Between_One_And_Two{
    display: flex;
    align-items: center;
}
.Between_One_And_Two_Grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 240px;
    gap: 10px 20px;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div{
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.Between_One_And_Two_Cont1{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    
}

.Between_One_And_Two_Cont1 img{
    width: 8%;
}
.Between_One_And_Two_Img1{
    width: 50%;
    /* border: 1px solid black; */
     display: block; 
    margin: auto;
}
.Between_One_And_Two_Cont2{
    display: flex;
    align-items: center;
    /* float: right; */
    
    /* bottom: 0px; */
    /* justify-content: center; */
}
.Span_Inside_Between_One_And_Two_Cont1{
    margin-left: 10px;
}
/* .Between_One_And_Two_Cont2 span{
    position:
    bottom: 0;
    left: 0;
} */
/* End Part-2 */
.little_dollar2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}

.Between_One_And_Two{
    display: flex;
    align-items: center;
}
.Between_One_And_Two_Grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 240px;
    gap: 10px 20px;
    margin-left: 5%;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div{
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div:hover{
    scale: 1.1;
}
#backword{
    margin-left: 3%;
}
.Between_One_And_Two_Cont1{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    
}
.Between_One_And_Two_Cont1 img{
    width: 8%;
}
.Between_One_And_Two_Img1{
    width: 50%;
    /* border: 1px solid black; */
    display: block;
    margin: auto;
}
.Between_One_And_Two_Cont2{
    display: flex;
    align-items: center;
    /* float: right; */
    
    /* bottom: 0px; */
    /* justify-content: center; */
}
.Span_Inside_Between_One_And_Two_Cont1{
    margin-left: 10px;
}
/* .Between_One_And_Two_Cont2 span{
    position:
    bottom: 0;
    left: 0;
} */
#hover-1{
    background-color: green;
}

#cont{
    display: grid;
    grid-template-columns: 1fr;
}



#popular {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 2px solid blue; */
    list-style: none;
    line-height: 50px;
    margin-top: 40px;
    cursor: pointer;
    gap: 50px;
    margin-bottom: 100px;
    overflow: hidden;

}

#popular li:hover {
    color: rgb(88, 88, 155);
    border-bottom: 1px solid black;

}

#emaizone {
    margin-top: 30px;
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(83, 80, 80);
    padding: 20px;
    font-size: 20px;
    color: beige;

}

#emaizone :nth-child(3) {
    /* border: 2px solid red; */
    justify-content: center;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    align-items: center;
    background-color: black;
}

#emaizone input {
    height: 100%;
    /* margin-top:10px; */
    width: 150px;
    padding: 5px;

}

#emaizone i {
    color: aliceblue;
}





#footer {
    /* margin: auto; */
    width: 100%;
    border: 1px solid black;
    background-color: #1f1f1f;
    overflow: hidden;



    color: rgb(151, 162, 161)
}

#submit {
    /* border: 1px solid black; */
    width: 100%;
}
#veh{
    width: 50%;
}

#submit input {
    /* border: 1px solid black; */
    width: 80%;
    margin-left: 0px;
    padding-left: 0px;
}

#first {
    width: 100%;
    display: flex;
    /* border: 2px solid green; */
}

.fst {
    margin: auto;
    width: 22%;
    display: flex;

    /* border:4px solid rgb(2, 40, 79); */

}

#first img {
    margin-top: 15px;
    /* border: 1px solid rgb(4, 128, 0); */
    height: 30px;
    width: 30px;
}

hr {
    border: 0.2px solid rgb(102, 120, 118);
}

#social {
    display: flex;

    width: 22%;
    justify-content: space-between;
    /* border: 1px solid red;  */

    margin: auto;
    /* background-color: black; */
}

#social i {
    color: aliceblue;
}

#gridpart {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    gap: 20px;



}

#gridpart li {
    list-style: none;
    line-height: 30px;
    cursor: pointer;

}

#other {
    /* border: 2px solid blue; */
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom:30px;

}

#zoner {
    width: 95%;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin: auto;
}

#zoner div {
    /* width:85%; */
    margin: auto;
    display: flex;
    /* border: 1px solid green; */
    padding:10px;

}

#last {
    width: 96%;
    /* border: 2px solid green; */

    display: flex;
    margin: auto;
    justify-content: space-between;
}

#last p {
    /* border: 2px solid red; */
    margin-left: 15px;
}

#pic img {

    /* width: 95%; */
    /* border: 2px solid blue; */
    height: 70px;
    width: 70px;
    margin-top: 50px;

}

#apple {
    display: flex;
    /* border: 2px solid rgb(234, 54, 54); */
    width: 25%;
    margin: auto;
    justify-content: space-between;
}




















@media screen and (min-width:300px) and (max-width:700px) {
    .One_cont4_Two{
        display: flex;
        flex-wrap: wrap;

        /* border: 1px solid slateblue; */
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        padding: 20px 0px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        border-radius: 5px;
        /* flex-direction: column; */
    }
    .One{
        display: flex;
        /* border: 1px solid red; */
        flex-direction: column;
        border: none;

    }
    .One_Two{
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
    .One_One{
        width: 100%;
    }
    .Between_One_And_Two_Grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px 300px;
    }
    .Between_One_And_Two_Img1{
        border: none;
    }


    #nav {
        width: 100%;
        flex-direction: column;
        position: sticky;
        top: 0%;
        /* height: 150px; */

    }

    .change {

        text-decoration: none;
        width: 100%;
        margin-top: 185px;
        text-align: center;

        height: 80vh;

        position: absolute;
        /* font-size:15px; */

        z-index: -100;
        display: flex;

        flex-direction: column;

        justify-content: center;
        background-color: wheat;


        line-height: 20px;
        /* padding-left: 10px; */

    }


    #firstt {
        flex-direction: column;
        width: 100%;
        height: 240px;



        /* font-size: 15px; */


    }


    #img {
        height: 35%;
        width: 20%;
    }

    #forsign {
        width: 100%;
        color: black;

    }

    #forsign i {
        color: rgb(73, 23, 42);
    }

    #third {
        /* border: 2px solid blue; */
        flex-direction: column;
        align-items: center;
    }

    #check {
        flex-direction: column;
        width: 100%;

    }

    #check div {
        width: 100%;

    }

    #check #main {
        width: 50%;
        /* border:2px solid #6699ff; */
        /* margin: auto; */
        /* margin-left: 150px; */
        margin: auto;
        margin-top: 370px;

    }

    #poster {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }

    #poster div:nth-child(1) {
        flex-direction: column;
        width: 100%;
        /* border: 2px solid blue; */
    }

    #poster img {
        width: 30%;
        height: 200px;
        margin-left: 110px;

    }

    #poster div:nth-child(3) {
        flex-direction: column;
        width: 60%;
        /* border: 2px solid blue; */
    }

    /* #gray{
        border: 2px solid black;
        width: 100%;
        height:200px;
    } */
    #save {
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(1, 1fr);
    }




    #feature {
        /* border: 2px solid blue; */
        padding-inline: 20px;
    }

    #popular {
        padding-inline: 20px;
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(2, 1fr);

    }

    #emaizone {
        width: 100%;
        /* border: 2px solid black; */
        flex-direction: column;
    }

    #footer {
        /* border: 2px solid greenyellow; */
        width: 100%;

    }

    #first {
        /* border: 2px solid blue; */
        flex-direction: column;

    }

    #social {
        width: 70%;
    }

    #gridpart {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-bottom: 60px;

    }

    #zo {

        /* border: 2px solid brown; */
        flex-direction: column;
        line-height: 5px;


    }


    #featured_img {
        /* border: 2px solid blue; */
        width: 100%;

        grid-template-columns: repeat(2, 1fr);
    }

    #last {
        flex-direction: column;
    }

    #apple {
        flex-direction: column;
        width: 30%;
    }

    #Main_Insert {
        /* border: 2px solid greenyellow; */
        grid-template-columns: repeat(3, 1fr);
    }
}