
body{
    margin: 0;
    padding: 0;
}
.One{
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(103, 103, 103);
    margin-left: 20px;
    
}
.One span{
    margin-left: 5px;
}
.Two{
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 650;
}
.Two span:nth-child(1){
    font-weight: 450;
}
.Three{
    display: flex;
    /* padding: 10px 10px; */
}
.Three_Cont1{
    /* border: 1px solid black; */
    width: 100%;
    background-color: rgb(237, 237, 237);
    padding: 10px;
}
.Three_Cont2{
    /* border: 1px solid rebeccapurple; */
    width: 30%;
    padding: 10px;
    height: 500px;
    position:sticky;
    right: 0px;
    top: 82px;
    /* bottom: 0px; */
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Cart_Icon_Img{
    width: 15%;
    display: block;
    margin: auto;
}
.Empty_Cart_Text1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    font-size: 25px;
    margin-bottom: 8px;
}
.Empty_Cart_Text2{
    text-align: center;
    font-family: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    color: rgb(118, 118, 118);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}
#Empty_Cart_Button{
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    
}
#Free_In_Store{
    background-color: rgb(237, 237, 237);;
    
}
#Free_In_Store > div{
    background-color: white;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.orange{
    border-bottom: 5px solid orange;
}

.Three_Cont2{
    background-color: white;
}




.Free_In_Store_One{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}
.Free_In_Store_two{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.Free_In_Store_two_Img{
    width: 50%;
}
.Three_Cont1_CartMenu1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
.Three_Cont1_CartMenu1 span{
    border-bottom: 5px solid orange;
    
}
.Free_In_Store_One p:nth-child(2){
    cursor: pointer;
}


/* sidebar css */

.Between_One_And_Two{
    display: flex;
    align-items: center;
}
.Between_One_And_Two_Grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 280px;
    gap: 10px 10px;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div{
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: white;
}
.p_Inside_Between_One_And_Two{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    text-align: center;
}
.Between_One_And_Two_Cont1{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    
}
.Between_One_And_Two_Cont1 img{
    width: 8%;
}
.stras_Img{
    width: 8%;
    /* border: 1px solid black; */
}
.Between_One_And_Two_Img1{
    width: 50%;
    /* border: 1px solid black; */
    display: block;
    margin: auto;
    margin-top: 10px;
}
.Between_One_And_Two_Cont2{
    display: flex;
    align-items:baseline;
    /* float: right; */
    
    /* bottom: 0px; */
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 0px 20px;
}
.Between_One_And_Two_Cont_Btn{
    width: 50%;
    display: block;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    font-weight: 500;
}

.Span_Inside_Between_One_And_Two_Cont1{
    margin-left: 10px;
}
/* .Between_One_And_Two_Cont2 span{
    position:
    bottom: 0;
    left: 0;
} */

.big_dollar2{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}
.little_dollar2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}



/* end sidebar css */

/* taking from itemOne */

.One_cont4_One{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;
}
.One_cont4_One_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;

}
.One_cont4{
    padding: 5px;
    background-color: rgb(241, 241, 241);
    /* width: 100%; */
}
.green{
    color: rgb(12, 167, 12);
}
.green1{
    color: rgb(12, 167, 12);
    font-size: 14px;
}
.red1{
    color: red;
    font-size: 14px;
}
.Cont4_small{
    font-size: 14px;
    
}


/* end */


/* another from itemOne */

.One_cont3_two{
    display: flex;
    /* border: 1px solid red; */
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.One_cont3_two input{
    width: 50%;
    text-align: center;
    height: 40px;
    font-size: 25px;
    border: 1px solid rgb(169, 167, 167);
    border-bottom: 4px solid rgb(180, 180, 180);

}
.One_cont3_two button{
    width: 50%;
    margin: 5px;
    /* height: 40px; */
    /* border-radius: 50%; */
    font-size: 20px;
    /* height: 100%; */
    border: none;
    border: 0.1px solid black;
    text-align: center;
}


/* end */

.One_cont3{
    display: flex;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid black; */
    
}
.One_cont3_one{
    display: flex;
}
.little_dollar{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}

.big_dollar{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}
.medium_dollar{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;

}

.a_Colored{
    color: #0277BD;
}

.Three_Cont2_One{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.Three_Cont2_Two{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.Three_Cont2_Two input{
    border: none;
    border-bottom: 2px solid grey;
}
.Three_Cont2_Two button{
    width: 40%;
    padding: 10px 0px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
.Three_Cont2_Three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.Three_Cont2 > p{
    font-weight: 500;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
}

#CheckOut{
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 55px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.or{
    text-align: center;
    margin-top: 20px;
}
#Paypal{
    padding: 20px 58px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#Paypal img{
    display: block;
    margin: auto;
    
}
.paypalSymbol{
    display: flex;
    align-items: center;
    
}
#CheckOut:hover{
    background-color: rgb(245, 159, 0);
}


.Between_One_And_Two_Grid > div:nth-child(1):hover{
    border: 1px solid black;
    /* transform: scale(1.1); */
}
.Between_One_And_Two_Grid > div:nth-child(2):hover{
    border: 1px solid black;
    /* transform: scale(1.1); */
}
.Between_One_And_Two_Grid > div:nth-child(3):hover{
    border: 1px solid black;
    /* transform: scale(1.1); */
}
.Between_One_And_Two_Grid > div:nth-child(4):hover{
    border: 1px solid black;
    /* transform: scale(1.1); */
}


/* shilpa code */


i {
    color: #1c1212d1;
}

#firstt {
    /* background-color: rgb(88, 112, 133); */
    /* padding-left: 50px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* height: 105px; */
    /* line-height:10px; */
    margin: auto;
    margin-bottom: 20px;




}

#forsign {
    display: flex;
    width: 20%;

    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    /* border: 2px solid black; */
    height: 100px;
    margin-right: 20px;

}

/* img {

    width: 100%;

} */

#img {
    margin-left: 20px;
    width: 10%;

    display: flex;
    /* border: 2px solid blue; */
    height: 100px;


}




#manu {

    width: 30px;

    margin-left: 30px;

    cursor: pointer;
    position: absolute;

    box-sizing: border-box;

    margin-top: 10px;




    transition: 1s ease;


}

.bar {
    height: 5px;
    width: 100%;
    background-color: rgb(16, 14, 14);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;

}

#bar1 {
    transform: translateY(-4px);

}

#bar3 {
    transform: translateY(4px);
}

.sidebar li a {

    text-decoration: none;

}



.sidebar {
    padding: 0px;
    margin: 0% 20px;
    transition: 1s ease;
    display: none;
}

.sidebar li {
    list-style: none;
    padding: 10px 0;
}

.icon .bar {
    background-color: black;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;

}

.change {

    height: 80vh;
    margin: 0;
    position: absolute;
    /* font-size:15px; */
    top: 0px;
    z-index: -100;
    display: flex;
    width: 23%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 84px;


    padding-left: 0%;
    line-height: 20px;
    /* padding-left: 10px; */
    /* background: linear-gradient(to bottom, #99ccff 0%, #ccffff 100%); */
    background-color: white;
}

i {
    color: #1c1212d1;
}


#log i {
    padding-left: 20px;
}

#firstt {
    overflow: hidden;
}

#nav {
    width: 100%;
    /* border: 2px solid rgb(140, 140, 178); */
    /* height: 80px; */
    background: linear-gradient(to bottom, #6699ff 0%, #ccccff 93%);
    
    background-color: rgb(232, 115, 73);
    /* position:sticky; */
    /* top: 0px; */

    display: flex;
    /* margin: auto; */
    /* justify-content:center; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* align-items: center; */
    /* justify-content: center; */
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    /* overflow: hidden; */


}

#log i {
    padding-left: 20px;
}


#sidediv {
    width: 100%;
    /* border: 2px solid black; */
    overflow: scroll;
    border: none;
    padding-left: 15px;

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.706);
}

#bold {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#veh {
    /* border: 2px solid purple; */
    width: 150px;
    margin-left: 100px;
    text-align: center;
    /* margin-top: 15px; */
    /* padding:10px; */
    font-size: 17px;
    box-sizing: border-box;


}


#veh:hover {
    background-color: rgba(185, 215, 234, 0.848);

}


#search {
    /* border: 1px solid purple; */
    margin-left: 100px;
    /* align-items: center; */
    margin-top: 15px;
    /* padding: 20px; */
    width: 580px;
    height: 30px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    /* padding-right:240px ; */


}



#btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    left: -90px;
    border: none;
    background-color: white;
    /* border:1px solid #a5b2b1; */
    cursor: pointer;

}

#stor {
    /* border: 2px solid purple; */
    width: 170px;
    margin-left: 60px;

    font-size: 18px;

    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;


}

#stor:hover {
    background-color: rgba(185, 215, 234, 0.848)
        /* padding-top:1px;
    padding-bottom:1px;
} */
}

/* ************************************************************************* */



#popular {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 2px solid blue; */
    list-style: none;
    line-height: 50px;
    margin-top: 40px;
    cursor: pointer;
    gap: 50px;
    margin-bottom: 100px;
    overflow: hidden;

}

#popular li:hover {
    color: rgb(88, 88, 155);
    border-bottom: 1px solid black;

}

#emaizone {
    margin-top: 30px;
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(83, 80, 80);
    padding: 20px;
    font-size: 20px;
    color: beige;

}

#emaizone :nth-child(3) {
    /* border: 2px solid red; */
    justify-content: center;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    align-items: center;
    background-color: black;
}

#emaizone input {
    height: 100%;
    /* margin-top:10px; */
    width: 150px;
    padding: 5px;

}

#emaizone i {
    color: aliceblue;
}





#footer {
    /* margin: auto; */
    width: 100%;
    border: 1px solid black;
    background-color: #1f1f1f;
    overflow: hidden;



    color: rgb(151, 162, 161)
}

#submit {
    /* border: 1px solid black; */
    width: 100%;
}
#veh{
    width: 50%;
}

#submit input {
    /* border: 1px solid black; */
    width: 80%;
    margin-left: 0px;
    padding-left: 0px;
}

#first {
    width: 100%;
    display: flex;
    /* border: 2px solid green; */
}

.fst {
    margin: auto;
    width: 22%;
    display: flex;

    /* border:4px solid rgb(2, 40, 79); */

}

#first img {
    margin-top: 15px;
    /* border: 1px solid rgb(4, 128, 0); */
    height: 30px;
    width: 30px;
}

hr {
    border: 0.2px solid rgb(102, 120, 118);
}

#social {
    display: flex;

    width: 22%;
    justify-content: space-between;
    /* border: 1px solid red;  */

    margin: auto;
    /* background-color: black; */
}

#social i {
    color: aliceblue;
}

#gridpart {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    gap: 20px;



}

#gridpart li {
    list-style: none;
    line-height: 30px;
    cursor: pointer;

}

#other {
    /* border: 2px solid blue; */
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;

}

#zoner {
    width: 95%;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin: auto;
}

#zoner div {
    /* width:85%; */
    margin: auto;
    display: flex;
    /* border: 1px solid green; */

}

#last {
    width: 96%;
    /* border: 2px solid green; */

    display: flex;
    margin: auto;
    justify-content: space-between;
}

#last p {
    /* border: 2px solid red; */
    margin-left: 15px;
}

#pic img {

    /* width: 95%; */
    /* border: 2px solid blue; */
    height: 70px;
    width: 70px;
    margin-top: 50px;

}

#apple {
    display: flex;
    /* border: 2px solid rgb(234, 54, 54); */
    width: 25%;
    margin: auto;
    justify-content: space-between;
}



@media screen and (max-width:1118px) {
    .Free_In_Store_two{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    /* .medium_dollar{
        border: 1px solid black;
        display: block;
        margin: auto;
    } */
    .One_cont3_two{
        /* border: 1px solid black; */
        margin: 0px;
        /* padding: 0px 40px; */
        /* width: 100%; */
        /* display: block; */
        margin: auto;
    }
    .Free_In_Store_two_Img{
        display: block;
        margin: auto;
    }
    .Between_One_And_Two_Grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 350px 350px;
        gap: 10px 10px;
        /* align-items: center; */
    }
    .Between_One_And_Two_Grid{
        /* border: 1px solid black; */
        padding: 0px 80px;
    }
    .Three{
        flex-direction: column;
    }
    .Three_Cont1{
        width: 100%;
    }
    .Three_Cont2{
        width: 100%;
        
    }



    #nav {
        width: 105.2%;
        flex-direction: column;
        position: sticky;
        top: 0%;
        /* height: 150px; */

    }

    .change {

        text-decoration: none;
        width: 100%;
        margin-top: 185px;
        text-align: center;

        height: 80vh;

        position: absolute;
        /* font-size:15px; */

        z-index: -100;
        display: flex;

        flex-direction: column;

        justify-content: center;
        background-color: #a0a8a8;


        line-height: 20px;
        /* padding-left: 10px; */

    }


    #firstt {
        flex-direction: column;
        width: 100%;
        height: 240px;



        /* font-size: 15px; */


    }


    #img {
        height: 35%;
        width: 20%;
    }

    #forsign {
        width: 100%;
        color: black;

    }

    #forsign i {
        color: rgb(73, 23, 42);
    }

    #third {
        /* border: 2px solid blue; */
        flex-direction: column;
        align-items: center;
    }

    #check {
        flex-direction: column;
        width: 100%;

    }

    #check div {
        width: 100%;

    }

    #check #main {
        width: 50%;
        /* border:2px solid #6699ff; */
        /* margin: auto; */
        /* margin-left: 150px; */
        margin: auto;
        margin-top: 370px;

    }

    #poster {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }

    #poster div:nth-child(1) {
        flex-direction: column;
        width: 100%;
        /* border: 2px solid blue; */
    }

    #poster img {
        width: 30%;
        height: 200px;
        margin-left: 110px;

    }

    #poster div:nth-child(3) {
        flex-direction: column;
        width: 60%;
        /* border: 2px solid blue; */
    }

    /* #gray{
        border: 2px solid black;
        width: 100%;
        height:200px;
    } */
    #save {
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(1, 1fr);
    }

    #submit{
        /* border: 1px solid black; */
    }
    #submit input{
        width: 60%;
        margin-left:24%;
    }




    #feature {
        /* border: 2px solid blue; */
        padding-inline: 20px;
    }

    #popular {
        padding-inline: 20px;
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(2, 1fr);

    }

    #emaizone {
        width: 100%;
        /* border: 2px solid black; */
        flex-direction: column;
    }

    #footer {
        /* border: 2px solid greenyellow; */
        width: 105.2%;

    }

    #first {
        /* border: 2px solid blue; */
        flex-direction: column;

    }

    #social {
        width: 70%;
    }

    #gridpart {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-bottom: 60px;

    }

    #zo {

        /* border: 2px solid brown; */
        flex-direction: column;
        line-height: 5px;


    }


    #featured_img {
        /* border: 2px solid blue; */
        width: 100%;

        grid-template-columns: repeat(2, 1fr);
    }

    #last {
        flex-direction: column;
    }

    #apple {
        flex-direction: column;
        width: 30%;
    }

    
    

}

@media screen and (max-width:854px) {
    .Between_One_And_Two_Grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 300px 300px 300px 300px;
        gap: 10px 10px;
        /* align-items: center; */
    }
    .Between_One_And_Two_Img1{
        width: 30%;

    }
    .Between_One_And_Two_Grid{
        /* border: 1px solid black; */
        padding: 0px 80px;
    }




    #nav {
        width: 105.2%;
        flex-direction: column;
        position: sticky;
        top: 0%;
        /* height: 150px; */

    }

    .change {

        text-decoration: none;
        width: 100%;
        margin-top: 185px;
        text-align: center;

        height: 80vh;

        position: absolute;
        /* font-size:15px; */

        z-index: -100;
        display: flex;

        flex-direction: column;

        justify-content: center;
        background-color: #a0a8a8;


        line-height: 20px;
        /* padding-left: 10px; */

    }


    #firstt {
        flex-direction: column;
        width: 100%;
        height: 240px;



        /* font-size: 15px; */


    }


    #img {
        height: 35%;
        width: 20%;
    }

    #forsign {
        width: 100%;
        color: black;

    }

    #forsign i {
        color: rgb(73, 23, 42);
    }

    #third {
        /* border: 2px solid blue; */
        flex-direction: column;
        align-items: center;
    }

    #check {
        flex-direction: column;
        width: 100%;

    }

    #check div {
        width: 100%;

    }

    #check #main {
        width: 50%;
        /* border:2px solid #6699ff; */
        /* margin: auto; */
        /* margin-left: 150px; */
        margin: auto;
        margin-top: 370px;

    }

    #poster {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }

    #poster div:nth-child(1) {
        flex-direction: column;
        width: 100%;
        /* border: 2px solid blue; */
    }

    #poster img {
        width: 30%;
        height: 200px;
        margin-left: 110px;

    }

    #poster div:nth-child(3) {
        flex-direction: column;
        width: 60%;
        /* border: 2px solid blue; */
    }

    /* #gray{
        border: 2px solid black;
        width: 100%;
        height:200px;
    } */
    #save {
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(1, 1fr);
    }

    #submit{
        /* border: 1px solid black; */
    }
    #submit input{
        width: 60%;
        margin-left:24%;
    }




    #feature {
        /* border: 2px solid blue; */
        padding-inline: 20px;
    }

    #popular {
        padding-inline: 20px;
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(2, 1fr);

    }

    #emaizone {
        width: 100%;
        /* border: 2px solid black; */
        flex-direction: column;
    }

    #footer {
        /* border: 2px solid greenyellow; */
        width: 105.2%;

    }

    #first {
        /* border: 2px solid blue; */
        flex-direction: column;

    }

    #social {
        width: 70%;
    }

    #gridpart {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-bottom: 60px;

    }

    #zo {

        /* border: 2px solid brown; */
        flex-direction: column;
        line-height: 5px;


    }


    #featured_img {
        /* border: 2px solid blue; */
        width: 100%;

        grid-template-columns: repeat(2, 1fr);
    }

    #last {
        flex-direction: column;
    }

    #apple {
        flex-direction: column;
        width: 30%;
    }

   
    
    
}

@media screen and (max-width:640px) {

    .Between_One_And_Two_Grid{
        /* border: 1px solid black; */
        padding: 0px 40px;
    }
}

@media screen and (max-width:525px) {

    .Between_One_And_Two_Grid{
        /* border: 1px solid black; */
        padding: 0px 0px;
    }



    #nav {
        width: 105.2%;
        flex-direction: column;
        position: sticky;
        top: 0%;
        /* height: 150px; */
        margin: 0;
        /* border: 1px solid black; */

    }

    .change {

        text-decoration: none;
        width: 100%;
        margin-top: 185px;
        text-align: center;

        height: 80vh;

        position: absolute;
        /* font-size:15px; */

        z-index: -100;
        display: flex;

        flex-direction: column;

        justify-content: center;
        background-color: #a0a8a8;


        line-height: 20px;
        /* padding-left: 10px; */

    }


    #firstt {
        flex-direction: column;
        width: 100%;
        height: 240px;
        margin: 0px;



        /* font-size: 15px; */


    }


    #img {
        height: 35%;
        width: 20%;
    }

    #forsign {
        width: 100%;
        color: black;

    }

    #forsign i {
        color: rgb(73, 23, 42);
    }

    #third {
        /* border: 2px solid blue; */
        flex-direction: column;
        align-items: center;
    }

    #check {
        flex-direction: column;
        width: 100%;

    }

    #check div {
        width: 100%;

    }

    #check #main {
        width: 50%;
        /* border:2px solid #6699ff; */
        /* margin: auto; */
        /* margin-left: 150px; */
        margin: auto;
        margin-top: 370px;

    }

    #poster {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }

    #poster div:nth-child(1) {
        flex-direction: column;
        width: 100%;
        /* border: 2px solid blue; */
    }

    #poster img {
        width: 30%;
        height: 200px;
        margin-left: 110px;

    }

    #poster div:nth-child(3) {
        flex-direction: column;
        width: 60%;
        /* border: 2px solid blue; */
    }

    /* #gray{
        border: 2px solid black;
        width: 100%;
        height:200px;
    } */
    #save {
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(1, 1fr);
    }

    #submit{
        /* border: 1px solid black; */
    }
    #submit input{
        width: 60%;
        margin-left:24%;
    }




    #feature {
        /* border: 2px solid blue; */
        padding-inline: 20px;
    }

    #popular {
        padding-inline: 20px;
        width: 100%;
        /* border: 2px solid blue; */
        grid-template-columns: repeat(2, 1fr);

    }

    #emaizone {
        width: 100%;
        /* border: 2px solid black; */
        flex-direction: column;
    }

    #footer {
        /* border: 2px solid greenyellow; */
        width: 105.2%;

    }

    #first {
        /* border: 2px solid blue; */
        flex-direction: column;

    }

    #social {
        width: 70%;
    }

    #gridpart {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-bottom: 60px;

    }

    #zo {

        /* border: 2px solid brown; */
        flex-direction: column;
        line-height: 5px;


    }


    #featured_img {
        /* border: 2px solid blue; */
        width: 100%;

        grid-template-columns: repeat(2, 1fr);
    }

    #last {
        flex-direction: column;
    }

    #apple {
        flex-direction: column;
        width: 30%;
    }

    
}



