body {
    /* background-color: bisque; */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   
   



}
*{ box-sizing: border-box; }


#manu {
    width: 30px;
    /* height: 30px; */
    margin-left: 30px ;
    /* z-index: 100; */
    cursor: pointer;
    position: absolute;
    /* z-index: 0; */
    box-sizing: border-box;

    margin-top:10px;
    /* border: 1px solid blue;
    */



    transition: 1s ease;


}

.bar {
    height: 5px;
    width: 100%;
    background-color: rgb(16, 14, 14);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;

}

#bar1 {
    transform: translateY(-4px);

}

#bar3 {
    transform: translateY(4px);
}

.sidebar li a {

    text-decoration: none;

}

/* .sidebar li a:hover {
    /* border: 1px solid black; */

/* } */

.sidebar {
    padding: 0px;
    margin: 0% 20px;
    transition: 1s ease;
    display: none;
}

.sidebar li {
    list-style: none;
    padding: 10px 0;
}

.icon .bar {
    background-color: black;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;

}

.change {

    height: 80vh;
    margin: 0;
    position: absolute;
    /* font-size:15px; */
    top: 0px;
    z-index: -100;
    display: flex;
    width: 23%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:88px;

    padding-left: 0%;
    line-height: 20px;
    /* padding-left: 10px; */
    background: linear-gradient(to bottom, #99ccff 0%, #ccffff 100%);
}


    /* overflow-y: scroll; */





}
i{
    color: #1c1212d1;
}
#firstt {
    /* background-color: rgb(88, 112, 133); */
    /* padding-left: 50px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* height: 105px; */
    /* line-height:10px; */
    margin: auto;
    margin-bottom: 20px;




}

#forsign {
    display: flex;
    width: 20%;
    
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    /* border: 2px solid black; */
    height: 100px;
    margin-right: 20px;

}

img {
   
    width:100%;

}

#img {
    margin-left: 20px;
    width:10%;
   
    display: flex;
    /* border: 2px solid blue; */
    height: 100px;


}

#p {
    /* border: 2px solid green; */
    /* justify-content: center; */
    margin: auto;
    width:500px;
    /* line-height: 20px; */
    box-sizing: border-box;



}

#nav {
    width:100%;
    /* border: 2px solid rgb(140, 140, 178); */
    /* height: 80px; */
    background: linear-gradient(to bottom, #6699ff 0%, #ccccff 93%);
    position: sticky;
    top: 0px;

    display: flex;
    /* margin: auto; */
    /* justify-content:center; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* align-items: center; */
    /* justify-content: center; */
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;


}

#log i {
    padding-left: 20px;
}


#sidediv {
    width: 100%;
    /* border: 2px solid black; */
    overflow: scroll;
    border: none;
    padding-left: 15px;

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.706);
}

#bold {
    font-size: 20px;
    color: rgb(0, 0, 0);
   font-weight: bold;
}

#veh {
    /* border: 2px solid purple; */
    width: 150px;
    margin-left: 100px;
    text-align: center;
    /* margin-top: 15px; */
    /* padding:10px; */
    font-size: 17px;
    box-sizing: border-box;


}


#veh:hover {
    background-color: azure;

}


#search {
    /* border: 1px solid purple; */
    margin-left: 100px;
    /* align-items: center; */
    margin-top:15px;
    /* padding: 20px; */
    width:700px;
    height:30px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;


}

#stor {
    /* border: 2px solid purple; */
    width: 170px;
    margin-left: 60px;
    /* height: 40px; */
    /* margin-right:10px; */
    /* margin-bottom: 20px; */
    font-size: 18px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;


}

#stor:hover {
    background-color: azure;
}

#third {
    /* border: 2px solid blue; */
    margin-top: 10px;
    display: flex;
    width:100%;
    font-size: 16px;
    margin: auto;
    font-size: 20px;
font-weight: bolder;
    /* height: 60px; */
    /* padding-top: 20px; */
    background-color: rgba(9, 9, 10, 0.936);
    color: aliceblue;
    justify-content: space-evenly;
    /* padding-bottom: 10px; */
    /* font-weight: 100; */
    margin-top: 30px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
  
    box-sizing: border-box;
    margin-bottom: 50px;
}

#third img {
    width: 50px;
    height: 50px;
    padding-top: 15px;


}

#image {
    width: 50px;



}

span {
    color: orangered;
}

#right img {
    width: 50px;
}

#check {

    /* border: 1px solid blue; */
    /* height: 400px; */
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin-top: 20px;
    box-sizing: border-box;
}

#left {
    /* border: 2px solid black; */
    width:50%;
    height:400px;
    background-image: url(https://www.autozone.com/cdn/images/B2C/US/media/FY23/P0506/Heroes/_fy23p0506-superhero-battery-d.jpg);
    

    
     /* background-position-x:center; */
    background-position-y:center; 
    background-repeat:no-repeat;
    box-sizing: border-box;
    background-size:100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}



#right {
    width:45%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */


    /* border: 2px solid black; */




}

.right {
    display: flex;
    width: 100%;
    /* height: 100%; */

    line-height:24px;
    border:2px solid rgb(194, 178, 178);
    padding-bottom: 10px;
    /* margin-top: 30px; */
    margin-block:5px;
    font-size: 20px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
   

}

.right img {
    height:50px;
    width: 50px;
    padding-top: 20px;

    padding-right: 10px;

}

#radio {
    overflow-x: visible;
    display: flex;
    border: 1px solid orangered;
    height: 20px;
    width: 200px;
    /* align-items: center; */
    margin: auto;
    /* padding-left: 25px; */
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: rgb(240, 235, 233);



}

#main {
    margin-top:370px;
    /* border: 2px solid blue; */

}
/* #post{
    border: 2px solid saddlebrown ;
    display: flex;
} */

#poster{
    cursor: pointer;
   text-align: center;
   align-items: center;
   
    margin-top:50px;
   
    width: 100%;
/* height: 300px; */
    display: flex;
    justify-content:space-around;
  
    /* border: 2px solid yellow; */
    /* background-color: rgb(247, 234, 234); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}

#poster>div:nth-child(1) {
    /* border: 1px solid green; */
    /* height:100px; */
    width:30%;
    display:flex;
    font-weight: bold;
    font-size: larger;
   justify-content:space-evenly;
   /* height:70px; */
   /* background-color: rgb(247, 234, 234); */
   margin-left: 30px;
}
#poster h2{
    padding-top:20px;
    /* border: 1px solid blue; */

}

#poster img{
    height:100px;
    width:100px;
   
}


   


#poster>div:nth-child(3) {
    /* border: 1px solid green; */
    width:15%;
    margin: auto;
    display:flex;
   text-align: center;
   align-items: center;
  
   padding-left:25px;
   background-color: black;
   color: cornsilk;
   border-radius:10px;
      /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  */

}
#poster>div:nth-child(2) {
    /* border: 1px solid green; */
    width:35%;
    margin: auto;
    display:flex;
   text-align: center;
   align-items: center;
 
  
   /* padding-left:25px; */

}
#gray{
    margin-top:40px;
    /* height:150px; */
    width:100%;
/* border: 2px solid black; */
cursor: pointer;
}
#gray img{
    height:150px;
    width:100%
}
#flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: azure;
    /* border: 2px solid blue; */
    margin-top:50px;
     /* border:1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;  


}
#flex div img{
    /* display: flex; */
    /* border: 1px solid blue; */
    margin-top:10px;
}
/* }
#cart{
position: sticky;
top:0;

} */

#flex img{
    height:70px;
    width: 50px;
}
#topdeal{
    font-size: larger;
    margin-left:20px;
}
#top_deals{
    display:grid;
grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-bottom: 30px;
    
    
}
#top_deals img{
width: 100%;
height:250px;cursor: pointer;
}
#top_deals p {
    margin-left:50px;
}
#topdeal span {
border-bottom: 5px solid orangered;
border-radius:6px ;
}
#save{
   
    display:grid;
    grid-template-columns: repeat(3,1fr);
        width:95%;

        gap:10px;
        margin: auto;
        box-sizing: border-box;
}
#save img{
    width:100%;
    height:250px;
    cursor: pointer;
   
}
#feature{ 
    /* border:2px solid green; */
    width:95%;
    margin: auto;
    margin-bottom: 20px;
}

#feature span{
    color: rgba(0, 0, 0, 0.856);
    border-bottom:6px solid orangered;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:-10px;
}


#featured_img{

    justify-content: center;
    width:95%;
display: grid;
grid-template-columns: repeat(4,1fr);
margin: auto;
border:1px solid rgb(201, 189, 189);
}

.cate{
    border:1px solid rgb(201, 189, 189);
    justify-content: center;
    width: 200px;
    height:200px;
   text-align: center;
   margin: auto;
  
   /* -webkit-transition:height 0.5s ;
   -webkit-transition:width 0.5s ; */
   font-size: 20px;
   font-weight: bold;
   color:#1d1b1b
   
}

#featured_img img{
   
 height:100px;
    width:100px; 
    /* border:1px solid blue; */
   
   

}
.cate:hover{


}
#featured_img div{
    width: 100%;
    justify-content: center;
    /* border:1px solid blue; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;  */
   
}
#brand{
    width: 95%;
    margin: auto;

}
#brand span{
    color: rgba(0, 0, 0, 0.754);
    border-bottom: 5px solid orangered;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
   
}
#brand_img{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 96%;
  margin: auto;
  margin-bottom:20px;
  cursor: pointer;
}
#seemore{

    /* margin-top:20px; */
    width:200px;
    border:1px solid rgb(17, 3, 6);
   margin: auto;
   text-align: center;
  font-weight:bold;
  border-radius: 2px ;
  
   cursor: pointer;
   margin-bottom: 30px;
   
 
}
#seemore:hover{
    color: white;
    background-color: rgb(17, 3, 6);
}
#twopost{
    
    width:95%;
    display:flex;
    grid-template-columns: repeat(2,1fr);
   
    justify-content: space-between;
    margin:auto;
    margin-bottom: 50px;
}

#tranding{
margin-left: 20px;
}
#tranding span{
    border-bottom: 5px solid orange;
    border-radius:6px ;
}




#twopost img{
    width:95%;

}
#popular{
    width:95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 2px solid blue; */
    list-style: none;
    line-height:50px;
    margin-top: 40px;
    cursor: pointer;
    gap: 50px;
    margin-bottom:100px;

}
#popular li:hover{
color: rgb(88, 88, 155);
border-bottom: 1px solid black;

}
#emaizone{
    margin-top: 30px;
    /* border: 2px solid blue; */
    width:100%;
    display:flex;
  margin: auto;
    justify-content: space-between;
    background-color: rgb(83, 80, 80);
    padding: 20px;
    font-size:20px;
    color: beige;

}
#emaizone :nth-child(3){
    /* border: 2px solid red; */
    justify-content: center;
    margin-top:10px;
 width:200px;
 height:40px;
 align-items: center;
 background-color: black;
}
#emaizone input{
height:100%;
/* margin-top:10px; */
width: 150px;
padding:5px;

}
#emaizone i{
    color: aliceblue;
}
/* ************************************************************************************************************************************************************************************************************************* */
#footer{
    /* margin: auto; */
    width:100%;
    border: 1px solid black;
    background-color: #1f1f1f;
    
   
  
    color:rgb(151, 162, 161)
}
#first{
    width: 100%;
    display: flex;
    /* border: 2px solid green; */
}
.fst{
    margin: auto;
    width:22%;
    display: flex;
  
    /* border:4px solid rgb(2, 40, 79); */

}
#first img{
    margin-top: 15px;
    /* border: 1px solid rgb(4, 128, 0); */
height:30px;
width:30px;
}
 hr{
   border:0.2px solid rgb(102, 120, 118);
 }
#social{
    display: flex;
    
    width:22%;
    justify-content:space-between;
    /* border: 1px solid red;  */
   
     margin: auto;
    /* background-color: black; */
}
#social i{
    color: aliceblue;
}
#gridpart{
    width:90%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: auto;
  gap: 20px;
  
  
  
}
#gridpart li{
    list-style: none;
   line-height:30px;
   cursor: pointer;
   
}
#other{
    /* border: 2px solid blue; */
    width:50%;
   margin: auto;
   text-align: center;
   margin-bottom: 10px;
   
}
#zoner{
    width: 95%;
    justify-content:space-between;
    /* border: 1px solid green; */
    margin: auto;
}
#zoner div{
    /* width:85%; */
    margin: auto;
    display: flex;
/* border: 1px solid green; */

}
#last {
    width:96%;
    /* border: 2px solid green; */
   
    display: flex;
    margin: auto;
    justify-content: space-between;
}
#last p {
    /* border: 2px solid red; */
    margin-left:15px;
}

#pic img{

  /* width: 95%; */
    /* border: 2px solid blue; */
    height:70px;
    width:70px;
   margin-top:50px;

}
#apple {
    display: flex;
    /* border: 2px solid rgb(234, 54, 54); */
    width:25%;
    margin: auto;
    justify-content: space-between;
}
.little_dollar2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}

.Between_One_And_Two{
    display: flex;
    align-items: center;
}
.Between_One_And_Two_Grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* grid-template-rows: 240px; */
    gap: 10px 20px;
    /* align-items: center; */
}
.Between_One_And_Two_Grid > div{
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.Between_One_And_Two_Cont1{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    
}
.Between_One_And_Two_Cont1 img{
    width: 8%;
}
.Between_One_And_Two_Img1{
    width: 50%;
    /* border: 1px solid black; */
    display: block;
    margin: auto;
}
.Between_One_And_Two_Cont2{
    display: flex;
    align-items: center;
    /* float: right; */
    
    /* bottom: 0px; */
    /* justify-content: center; */
}
.Span_Inside_Between_One_And_Two_Cont1{
    margin-left: 10px;
}
/* .Between_One_And_Two_Cont2 span{
    position:
    bottom: 0;
    left: 0;
} */

#Main_Insert span{
color: rgb(17, 15, 15);
}
#backword{
    width:100px;
}

#forward{
    width:100px;
}


/***************media quary********************************************************************************************************/





@media screen and (min-width:300px) and (max-width:700px) {
    p {
        line-height: 20px;
        font-size: 15px;
        font-weight: 100;

    }

    div {
        height: 100%;
        margin-inline: 5px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    #nav {
      height:120px;
      width: 100%;
     
      
       
    }
     #search {
        width:100px;
        text-align: center;
    }

    #veh {
        width: 60px;

        text-align: center;

        height: 70px;




    }

    #stor {
        width: 80px;
        height: 70px;

    }

    .change {
        margin-top: 100px;
        text-decoration: none;
    }

    #first {
        height: 170px;
    }

    #third {
        font-size: 13x;
        flex-direction: column;
        height: 200px;


    }
    #feature_img{
        grid-template-columns:repeat(2,1fr);
    }



}