body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.N3{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 15%;
    align-items: center;
}
.N1{
    /* width: 100%; */
    /* border: 1px solid black; */

}
.N2{
    /* border: 1px solid black; */
    width: 50%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.N2 p:nth-child(2){
    margin-top: 0px;

    padding-top: 0px;
    color: rgb(77, 76, 76);
}

.One{
    display: flex;
}

.One_One{
    /* border: 1px solid black; */
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.One_One_one{
    /* border: 2px solid red; */
}
.One_One_one > img{
    border: 1px solid red;
    margin-top: 20px;
    margin-left: 10px;
}
.One_One_Two{
    /* border: 1px solid tomato; */
    width: 80%;
}
.One_One_Two > img{
    width: 100%;
}
.Before_One > a{
    text-decoration: none;
    font-weight: 550;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(83, 82, 82);
}
.One_Two{
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 40px;
}
.One_Two_One{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border: 1px solid cyan; */
    /* margin: 10px; */
    border-top: 2px solid #0277BD;
    border-bottom: 2px solid #0277BD;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.One_Two_One p{
    color: #0277BD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    font-size: 13px;
    
}
.H2_One{
    font-size: 20px;
    font-weight: 550;
}
.starsCont{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 60%;
    justify-content: space-around;
    margin-top: 20px;
}
.stars{
    width: 12%;
    border: 1px solid white;
}
.starCont2{
    /* border: 1px solid brown; */
    width: 100%;
    font-size: 14px;
}
.One_span_One{
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.One_cont2{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: 20%;
    justify-content: space-between;
}
.One_cont2 > a{
    color: black;
    font-size: 14px;
}
.One_cont3{
    display: flex;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid black; */
    
}
.One_cont3_one{
    display: flex;
}
.little_dollar{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    /* margin-bottom: 50px; */
    /* border: 1px solid brown; */
    margin-top: 10px;
}
.big_dollar{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
    /* border: 1px solid black; */
    margin-top: 0px;
    padding-top: 0px;
    
}
.One_cont3_two{
    display: flex;
    /* border: 1px solid red; */
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.One_cont3_two input{
    width: 30%;
    text-align: center;
    height: 40px;
    font-size: 25px;
    border: 1px solid rgb(169, 167, 167);
    border-bottom: 4px solid rgb(180, 180, 180);

}
.One_cont3_two button{
    width: 22%;
    /* height: 40px; */
    border-radius: 50%;
    font-size: 20px;
    height: 30px;
    border: none;
    /* border: 0.1px solid black; */
    text-align: center;
}
.One_Two > p{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
}
.One_Two > p img{
    width: 3%;
}
.One_cont4_One{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two{
    display: flex;
    /* border: 1px solid slateblue; */
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 20px 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
}
.One_cont4_Two_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;
}
.One_cont4_One_One input{
    width: 50px;
    border: 1px solid slateblue;
    background-color: slateblue;

}
.One_cont4{
    padding: 2px;
    background-color: rgb(241, 241, 241);
}
.green{
    color: rgb(12, 167, 12);
}
.green1{
    color: rgb(12, 167, 12);
    font-size: 14px;
}
.red1{
    color: red;
    font-size: 14px;
}
.Cont4_small{
    font-size: 14px;
    
}
.Cont4_Delivery_Truck{
    color: #046eab;
    font-size: 13px;
}
.Cont4_Decrease_Font_Weight{
    font-size: 14px;
    font-weight: 450;
}
.Cont4_Decrease_FontSize{
    font-size: 13px;
    font-weight: 475;
}
.a_Colored{
    color: #0277BD;
}
#ADD_TO_CART{
    width: 100%;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 650;
    padding: 15px 0px;
    color: white;
    background-color: black;
    text-align: center;
}
.a_With_Black{
    color: black;
}

.desc{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 20px;
    border: 1px solid red;
    text-align: justify;
    /* color: #E0E0E0; */
}
@media scrren and (min-width:400px) and (max-width:650px)  {
    
}